/* Add styling as needed */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Adjust map container size */
.leaflet-container {
  height: 500px;
  width: 80%;
  margin-top: 10px;
}
